.container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.block {
  margin: 1em !important;
}

.left {
  width: 400px;
}

.right {
  width: 400px;
}

.head {
  text-transform: uppercase;
  color: #c4a646;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
}

.description {
  color: #9d9d9d;
}

.line {
  width: 40px;
  border: 2px solid #d1d1d1;
}

.imageGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image {
  overflow: hidden;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .container {
    height: 650px;
    flex-direction: column;
  }

  .block {
    width: 90% !important;
  }
}